

body {
	background: url('/assets/triangular.png');
	border-top: 20px solid #393939;
	
}

h1 {
	padding:5px;
	color: green;
	font-size: 42px;
	font-family: "Verdana";
	font-weight:Bold
	}

p {
	padding:10px;
	color: #000000;
	font-size: 16px;
	font-family: "Helvetica";
	}

