
<div id="header">
<h1><%= @review.saying %></h1>
<h2>- <%= @review.author %></h2>
</div>
	<p>
    Notif is the brainchild & future project of a developer  named <a target="_blank" href="http://github.com/camcallaghan">Colum O' Callaghan</a>. It main aims are increase and enhance the notifications experience on desktop, web, tablet and mobile. While in it's inception at the moment, the promise of the project is to create cross-platform integration and an enhanced user experience that satisfies a number of different outcomes but primarily focusing on the mobile experience.
  	</p>
 	<p>
    While I am developing my the back-end programming for the project, I recognise the greater need for user research and experience at this time. All hopefully to my advantage upon completion of my project.
  	</p>
  	<p>
    If you want to here more about the project or want to get in touch, please visit my website<a target="_blank" href="http://www.calitrixdigital.com"> here </a>.
  	</p>
  	